

.search-form__container{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/SearchForm/img/main.jpg);
    background-size: cover;
}